<div>
    <div style="padding-bottom:1px ;margin-bottom: 1px;padding-right: 1px;margin-right: 1px;">

    <img src="assets/aboutus1.jpg" alt="Snow" style="width: 1350px;height:350px">

  </div>

</div>
<label  style="margin-left: 46%;color: #c4aead; font-weight: bold;font-size: 30px;">About us</label>
<div style="padding-top: 1px;">Our diverse portfolio of differentiated brands are well known and loved by millions of consumers around the world. We have the right hotel brand for both our guests and owners, whatever their needs.
    </div>

<br>

