
<div>
    <div style="padding-bottom:1px ;margin-bottom: 1px;padding-right: 1px;margin-right: 1px;">

    <img src="assets/services.png" alt="Snow" style="width: 1450px;height:500px">

  </div>
<div style="padding-top: 1px;margin-top: -94px;">
    <br>
    <label  style="margin-left: 50%;color: #c4aead; font-weight: bold;font-size: 30px;">Our Services</label>
   <label> There are different reasons for your ideal guests to stay at your hotel. Ultimately, it depends on the different types of services in the hotel industry that you are offering.

    Some people will be searching for comfortable beds, others go for delicious foods. But they all will be looking at the way you treat your guests.
    
    The hotel industry is growing at a rapid pace. There are more than 700,000 hotels worldwide. With that information in hand, you have to ask yourself:
</label>    
</div>
</div>