<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Room <b>Details</b></h2></div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new" (click)='openModel()'><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let type of listOfRoomInfo">
                    <tr>
                        <td>{{type.roomNumber}}</td>
                        <td>{{type.createdDate}}</td>
                        <td>{{type.updatedDate}}</td>
                       
                                           

                        <div *ngIf="type.status; then thenTemplateName else elseTemplateName">
                            Here is never showing
                        </div>
                        
                        <ng-template #thenTemplateName>
                            <td>  <button class="btn btn-success">Active</button> </td>
                        </ng-template>
                        
                        <ng-template #elseTemplateName>
                            <td>  <button class="btn btn-danger">InActive</button> </td>
                        </ng-template>
                        
                        <td>
                            <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons"></i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip" (click)='openModel()'><i class="material-icons"></i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip" (click)='deleteRoom(type.roomId)'><i class="material-icons"></i></a>
                        </td>
                    </tr>
                </ng-container>
                       
                    
            </tbody>
        </table>
    </div>
</div>  

<div class="modal fade" #someModal id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="!submitted">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Room </h5>
          <button type="button" class="close" (click)='clear()' data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           
            <form [formGroup]="addRoomForm" (ngSubmit)="save()">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingmaxRoomNumber" placeholder="roomNumber" formControlName="roomNumber" [ngClass]="{ 'is-invalid': submitted && f.roomNumber.errors }">
                    <div *ngIf="submitted && f.roomNumber.errors" class="invalid-feedback">
                      <div *ngIf="f.roomNumber.errors.required">RoomNumber is required</div>
                   </div>
                    <label for="floatingPassword">RoomNumber</label>
                  </div>
                <div class="form-floating mb-3">
                    <select class="form-control" formControlName="selectRoomType" required>
                        <option *ngFor="let type of listOfRoomType"                                                        value={{type.roomTypeid}}>  
                                                   {{type.roomTypes}}  
                        </option>  
                       
                     </select>
                     <label for="floatingInput">Room Type</label>    
                 </div>
                 
                
               

                

                <div class="d-grid">
                  <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-1" type="submit">Add</button>
                </div>

              </form>
           
           
        </div>
        
      </div>
    </div>
  </div>